.hu-icon-text {
  width: min-content;
  a {
    min-height: 52px;
    min-width: 80px;
    max-width: 100px;
    @media (max-width: 640px) {
      min-width: 42px;
    }
  }
}

.hu-icon-border-bottom {
  border-bottom: 2px solid gray;
  content: '';
  bottom: 0;
  left: 0;
  position: relative;
  // transition: transform 0.2s ease-in-out;
  // transform: scaleX(0);
  display: block;
  &--is-active-enter {
    transform: scaleX(0) !important;
  }
  &--is-active-enter-active {
    transform: scaleX(1) !important;
    transition: transform 0.2s ease-in-out;
  }
  &--is-active-enter-done {
    transform: scaleX(1) !important;
  }
  &--is-active-exit {
    transform: scaleX(1) !important;
    border-bottom: 2px solid red;
  }
  &--is-active-exit-active {
    transform: scaleX(0) !important;
    transition: transform 0.2s ease-in-out;
  }
  &--is-active-exit-done {
    transform: scaleX(0) !important;
  }
}
