.hu-card {
  .hu-card-header {
    .bg-section {
      background-image: url('https://static.licdn.com/sc/h/55k1z8997gh8dwtihm11aajyq');
      height: 56.25px;
      display: block;
      margin: -0.8rem -0.8rem 0;
    }
    .profile-pic-section {
      img {
        margin: -38px auto 1.2rem;
      }
    }
  }
  .hu-card-main,
  .hu-card-footer {
    a {
      display: block;
      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }
}
